    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-2 lead">
              <br/><br/>
              <!-- <h2>About (<a href = "CV_Ziko.pdf">CV</a>)</h2> -->
              <h2>About</h2>
              <br/>
                <div class="text-justify">
                <p> Currently, I am an Associate Principal AI Scientist @ <a href =https://www.astrazeneca.com/r-d/data-science-and-ai.html>AstraZeneca</a> working towards efficient and effective discovery and delivery of potential medicines using AI, as a part of Center for AI within Data Sciences & AI, BioPharmaceuticals R&D. Previously, I was R&T Lead (AI) @ <a href="https://www.thalesgroup.com/en/">Thales </a>, where I worked in different projects involving computer vision and machine learning. 
                </p>
                <p>
                  I completed my PhD in machine learning from École de Technologie Supérieure (ETS) –University of Quebec, Montréal, Canada. Before that, I completed my Erasmus Mundus Masters in 2014 visiting three universities in Europe: Norwegian University of Science and Technology (NTNU) in Norway, University of Granada in Spain and Jean Monnet University in France.
                </p> 
                <p>
                My research work and interest connects dots around ML/AI for drug discovery, LLMs, Diffusion models, representation learning, few-shot learning, graph based models, out-of-distribution detection for robust ML deployment, continual learning, fairness in machine learning and optimization methods. The motivations of these works are mainly to make AI powered systems to learn and deliver effectively and efficiently with a few or no active supervision while being scalable and robust. I serve as a regular reviewer for the major AI conferences such as the AAAI, ICML, NeurIPS, CVPR etc. 
                </p>

                </div>
                <br/>
              </div>
        </div>
    </section>
