    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-2 lead">
              <br/><br/>
              <h2>About (<a href = "CV_Ziko.pdf">CV</a>)</h2>
              <br/>
                <div class="text-justify">
                <p>I am a PhD candidate at <a href="http://en.etsmtl.ca/Unites-de-recherche/LIVIA/Accueil?lang=en-CA">LIVIA</a> lab in <a href="https://www.etsmtl.ca/">ETS</a>.</p> 
                <p><b>Currently working</b> on genaralizing fairness constraints in clustering methods, improving metric loss for person re-ID and domain adaptation in semantic segmentation.</p> 
                <p><b>Research interests</b>: Unsupervised clustering, Domain adaptation, Deep Metric learning, Optimization methods in learning.</p>
                <p><b>Application areas</b>: Cluster analysis, Semantic segmentation, Person re-id, Medical image analysis. </p>
<!--                 <p>This theme features stock photos by <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p> -->
<!--                 <p>Landing-Page includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p> -->
                </div>
                <br/>
              </div>
        </div>
    </section>
